body{font-family: 'Roboto', sans-serif;
    color: white;
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color: black;
    
}
.notes{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: #243949;
}
.second-part{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.counter, .slider{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter__title, .slider__title{
    font-size: 5rem;
    font-weight: bold;
}

.counter__res{
    
    font-size: 3rem;
}

.counter__add, .slider__prev, .slider__next{
background-color: #243949;   
color: white; 
border: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.counter__set{
    background-color: #243949;
    border: 0;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.counter__remove{
   background-color: #243949;
   border: 0;
   color: white;
    
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;
}

.counter__remove:hover, .counter__add:hover, .counter__set:hover, .slider__prev:hover, .slider__next:hover{
    background-color: blue;

    font-weight: bolder;
}

.slider__text{
    width: 30rem;
    background-color: #243949;
    padding: 2rem;
    border-radius: 15px;
    line-height: 30px;
    letter-spacing: 2px;

}


.body{
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
}

.body__head{
    color: white;
}